/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.background-color {
  background-color: $gray-lighter;
}

.avatar-lg {
  width: 50px;
}
.avatar-md {
  width: 40px;
}
.avatar-xs {
  width: 30px;
}

.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-circle {
  border-radius: 50%;
}
.avatar-square {
  border-radius: 3px;
}


.message-item-card {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 1px 2px #EAEAEA;
}

.message-item-header {
  display: flex;
  flex-flow: row;
  height: 40px;        // why do i need to specify height?
  & .details {
    padding-left: 10px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
  }
  & .name {
    color: $gray-dark;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  & .time {
    color: $gray-light;
    font-weight: 300;
    font-size: 0.8em;
  }
  .edit-message {
    color: #ABAAAA;
    font-weight: 500;
    font-size: 0.9em;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
}

.message-item-content {
  padding: 10px 0px;
}

.message-item-social {
  border-top: 1px solid $gray-lighter;
  font-size: 0.85em;
  color: $gray-light;
  padding: 5px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  letter-spacing: 0.5px;
  .inside-interactions {
    display: flex;
    flex-flow: row;
  }
  .dislike {
        margin-left: 20px;
  }
  & .social-item {
    padding: 0px 5px;
    width: 100px;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

textarea {
  border: none;
  outline: none;
  &:active {
    border: none;
    outline: none;
    height: 200px;
    border-bottom: 1px solid $gray-lighter;
  }
  &:focus {
    border: none !important;
    outline: none;
    border-bottom: 1px solid $gray-lighter;
  }
}


.create-post {
  margin-top: 10px;
  border: 2px solid #A39ECA;
  border-radius: 3px;
  box-shadow: 1px 2px #EAEAEA;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  color: #B1A9A9;
  .text-area {
    border: none;
    width: 100%;
    height: 30px;
    cursor:text;
    &.focused {
      height: 200px;
      border: none;
      border-bottom: 1px solid $gray-lighter;
      color: $gray-darker;
    }
  }
}
// should not be nested, needed for modal
.share-button {
  background-color: #4285f4;
  color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 5px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:hover {
    background-color: #3973D2;
    color: $gray-lighter;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 2px 4px rgba(0, 0, 0, 0.24);
  }
}


.create-post-controls {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  .hidden {
    display: none;
  }
  .discard-message {
    color: $gray-light;
    font-size: 25px;
    padding: 0px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      text-shadow: 1px 1px 1px #ccc;
    }
  }
  .left-toolbar {
    display: flex;
    flex-flow: row;
  }
  #post-toolbar {
    display: flex;
    flex-flow: row;
    padding: 10px;
    .toolbar-item {
      padding: 0px 10px;
      color: $gray-light;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
        color: $gray-darker;
        text-shadow: 1px 1px 1px #ccc;
      }
    }
    .separator {
      box-sizing: border-box;
      background-color: #ddd;
      display: inline-block;
      height: 14px;
      margin-left: 4px;
      margin-right: 4px;
      vertical-align: middle;
      width: 1px;
    }
  }
}




.is-liked {
  color: $blue;
  font-weight: 500;
  &:hover {
    color: $blue-dark !important;
  }
}
.is-disliked {
  color: $red;
  font-weight: 500;
  &:hover {
    color: $red-dark !important;
  }
}


.reply-item-header {
  padding: 5px 0px;
  margin: 10px 0px;
  font-size: 0.9em;
  display: flex;
  flex-flow: row;
  height: 40px;        // why do i need to specify height?
  & .details {
    align-self: flex-start;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
  }
  & .name {
    color: $gray-dark;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  & .time {
    margin-left: 10px;
    color: $gray-light;
    font-weight: 300;
    font-size: 0.8em;
  }
  &:hover .reply-social-item {
    transform: scale(1.2);
  }
}
.reply-content {
  padding-left: 10px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
.reply-content-message {
}
.reply-social-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: $gray-lighter;
  font-size: 0.9em;
  i {
    font-size: 1.2em;
  }
}
.reply-social-item {
  padding: 0px 10px;
  transition: all .2s ease;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.reply-form {
  margin: -5px -10px -10px -10px;
  .create-post {
    border-radius: 0px 0px 3px 3px;
    background-color: #FDFDFD;
    border: none;
    border-top: 1px solid $gray-lighter;
    &:hover {
      background-color: white;
      border-top: 1px solid #DAD8D8;
      cursor: text;
    }
  }
}
.reply-list-top-border {
  width: 100%;
  height: 2px;
  background-color: $gray-lighter;
}


.messagesList-appear {
  opacity: 0.01;
}
.messagesList-appear.messagesList-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.modal-review {
  text-align: center;
  color: $gray;
  .close {
    position: absolute;
    top: 6px;
    right: 6px;
    color: $gray;
  }
  .gray-divider {
    width: 100%;
    margin: 40px 0px;
    height: 2px;
    background-color: $gray-lighter;
  }
  h3 {
    letter-spacing: 0.6px;
  }
  .modal-message-content {
    height: 200px;
    background-color: $gray-lighter;
    margin: 20px 0px;
  }
}
.full-width {
  width: 100%;
}
