







<%=  react_component "App",
          render(template: 'pages/home.json.jbuilder') %>





<!-- <div className="social-share">
          <div className="btn fb-share">
            Share on Facebook
          </div>
          <div className="btn twitr-share">
            Share on Twitter
          </div>
        </div> -->





